header {
    height: 68px;
    border: 1px solid #b5b7ba;
    background-color: #dfdfdf;
}

header a {

}

h1 {

}

main {

}

main img {

}

main p {

}

main br {

}

footer {
    height: 120 px;
    background-color: #434445;
}